/* https://s3.eu-central-1.amazonaws.com/gromcode-students-layouts/59176/test-config/backstop_data/html_report/index.html */

li {
    list-style-type: none;
}

.header {
    z-index: 1;
    height: 40px;
    background-color: darkturquoise;
    position: absolute;
    width: 100%;
}

.header li {
    float: left;
    margin-left: 16px;
    margin-top: -5px;
    color: white;
}

.content {
    height: 5000px;
    background-color: beige;
}

.head {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -100px;
    padding: -100px;
}

.ear{
    width: 40px;
    height: 60px;
    background-color: brown;
}

.eye {
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
    
}

.ear_right {
    position: relative;
    left: 200px;
    top: -60px;
}

.ear_left {
    position: relative;
    top: -120px;
    left: -40px;
}

.eye_left {
    position: absolute;
    top: 80px;
    left: 40px;
}

.eye_right {
    position: absolute;
    top: 80px;
    right: 40px;
}