* {
    box-sizing: border-box;
    font-family: "Verdana";
}

.header {
    margin: 16px 0;
}

h1 {
    font-size: 74px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 50%;
    margin: 0px auto;
}

div {
    background-color: coral;
    height: 200px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 200px;
}