* {
    box-sizing: border-box;
}

td {
    width: 50px;
    height: 48px;
}

table {
    margin: 16px;
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
}

.black, .white {
    border: 1px solid black;
}

.black {
    background-color: black;
}

table, td, th {
    border-collapse: collapse;
}

